body{
    /* background-color: red;
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}


.img{
    height: 700px;
    width: 100px;
    object-fit: contain;
    /* position: absolute;
    top:0;
    left:0; */
    /* z-index: -1; */
}

p{
    color: yellow;
    font-size: 40px;
    opacity: 0.9;
}


.btn{
    padding: 10px 20px 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

/* .btn:hover{
    background-color: red;
    width: 100px;
} */

/* .btn:active{
    background-color: green;
}

.btn:before{
    content: 'Hello'
} */

/* .btn:after{
    content: 'world'
} */


p:nth-of-type(odd){
    color: black;
}

p:nth-last-of-type(1){
    color: black;
}


div p:nth-of-child(odd){
    color: black;
}



.scroll-div{
    height: 100px;
    width: 400px;
    background-color: green;
    overflow: scroll;
}


.first-div{
    height: 300px;
    width: 800px;
    background-color: green;
    float: left;
}

.second-div{
    height: 300px;
    width: 300px;
    background-color: red;
    float: left;
}


@media(max-width: 768px){
    h1{
        font-size: 10px;
        color: gray;
    }

    .first-div{
        width: 300px;
    }
}