body {
    /* background-color: red; */
    /* background-image: url(./image.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.title{
    color: rgb(45, 199, 91);
}

.btn{
    background-color: green;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    /* background-color: red; */
    /* width: 120px; */
    opacity: 0.8;

}

.title:hover{
    color: yellow;
}

.link:active{
    color: yellow;
}

.link:visited{
    color: yellow;
}

.link:link{
    color: yellow;
}

.main{
    /* width: 100%; */
    /* height: 100%; */
}

.image{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

p:nth-of-type(1) {
    color: blue;
}

.overflow{
    height: 100px;
    background-color:lightgray;
    overflow: hidden;
}


.first-content{
    /* width: 100px; */
    height: 100px;
    background-color:blue;
    float:right;
}

.second-content{
    /* width: 100px; */
    height: 100px;
    background-color:red;
    float: right;
}


@media (max-width: 768px) {
    
    p{
        color: tomato;
    }

}